.hero {
  max-height: 1080px;
  text-align: center;
}

.hero .text-container,
.hero .image-container {
  margin-inline: 1rem;
}

.hero .outline-container,
.hero .outline-container span {
  border-radius: 6px;
}

.hero .cta__button {
  margin-top: 2.5rem;
}

.hero .circle-graphic {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 56px);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "hero-text hero-image";
    overflow: visible;
    text-align: left;
    min-height: 600px;
  }

  .hero .text-container {
    grid-area: hero-text;
    margin: auto 1rem;
  }

  .hero .image-container {
    grid-area: hero-image;
    overflow: visible;
    margin: auto 1rem;
    width: 180%;
  }

  .hero .outline-container {
    border: 2px solid rgb(160, 160, 160);
  }

  .hero .image-container span {
    transform: translate(1rem, -1rem);
    overflow: visible;
  }

  .hero .hero__headline {
    margin-top: 0;
  }

  .hero .hero__subheadline {
    margin-top: 2rem;
  }

  .hero .cta__button {
    margin-top: 3rem;
  }

  .hero .circle-graphic {
    position: absolute;
    display: block;
    right: -70%;
    top: -70%;
    z-index: -100;
  }
}

@media (min-height: 1200px) {
  .hero {
    min-height: 900px;
  }
}
