html,
body {
  --fs-xl: clamp(2.5rem, 2.5vw, 5rem);
  --fs-600: clamp(1.5rem, 1vw, 2rem);
  --fs-400: 1rem;

  --clr-primary-light: #ffffff;
  --clr-secondary-light: #d6d6d6;

  --clr-highlight: #0d2a45;

  padding: 0;
  margin: 0;
  font-family: Poppins, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--clr-highlight);
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: grid;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}
