@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  @apply dark:bg-stone-400 rounded px-1 dark:text-slate-900 bg-slate-600 text-slate-100;
}
