:root {
  --gray-light: #7b7b7b;
  --gray-primary: #4f4f4f;
  --gray-dark: #272727;
  --yellow: #ffe031;
  --green: #8bd2bd;
  --primary: #0f62fe;
  --primary-light: #edf3ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.hero {
  max-height: 1080px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "hero-image" "hero-text";
}

.text-container,
.image-container {
  margin-inline: 1rem;
}

.image-container {
  grid-area: hero-image;
  border-radius: 3px;
}

.text-container {
  grid-area: hero-text;
}

.button--primary {
  background-color: var(--primary);
  color: white;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.cta__button {
  margin-top: 2.5rem;
}

.circle-graphic {
  display: none;
}

@media (min-width: 800px) {
  body {
    text-align: left;
  }

  .hero {
    height: calc(100vh - 56px);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "hero-text hero-image";
    overflow: visible;
  }

  .hero .image-container {
    overflow: visible;
    margin: auto 1rem;
    width: 180%;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 6px;
  }

  .hero span {
    transform: translate(1rem, -1rem);
    border-radius: 6px;
  }

  .image-container > span {
    overflow: visible;
  }

  .hero .text-container {
    margin: auto 1rem;
  }

  .hero__subheadline {
    margin-top: 2.5rem;
  }

  .cta__button {
    margin-top: 3rem;
  }

  .circle-graphic {
    display: block;
    position: absolute;
    right: -300px;
    top: -200px;
    z-index: -1;
  }
}

@import url("typography/typography.css");
@import url("header/header.css");
