@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", sans-serif;
}

@layer base {
  h1 {
    @apply text-slate-900 text-3xl;
  }

  h2 {
    @apply text-slate-800 text-2xl;
  }

  h3 {
    @apply text-slate-600 text-lg;
  }

  p {
    @apply text-slate-600 pt-4;
  }

  ul {
    @apply list-disc pl-5 pt-4;
  }

  a {
    @apply underline;
  }
}
