---
import "../styles/global.css";

import AuthorDetails from "../components/AuthorDetails.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="David Taing - Fullstack Developer">
  <main>
    <div class="w-full md:px-0">
      <AuthorDetails title="David Taing" />
      <ul>
        <li>
          <a href="/posts/exhaustive-switch-ts/"
            >Exhaustive Switch Statements - TypeScript</a
          >
        </li>
      </ul>
    </div>
  </main>
</Layout>
