---
import "../styles/global.css"

import Layout from '../layouts/Layout.astro';
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro"
import ContactsAndSocials from "../components/sections/ContactsAndSocials.astro";
import Work from "../components/sections/Work.astro";
---

<Layout title="David Taing - Frontend Engineer">
	<main>
		<Hero />
		<About />
		<ContactsAndSocials />
		<Work />
	</main>
</Layout>

<style>
</style>
