---
import "../styles/global.css"

import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import About from "../components/About.astro"
import ContactsAndSocials from "../components/ContactsAndSocials.astro";
import Work from "../components/Work.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<About />
		<ContactsAndSocials />
		<Work />
	</main>
</Layout>

<style>
</style>
