---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import ContentContainer from "../layouts/ContentContainer.astro";
---

<Layout title="David Taing - Fullstack Developer">
  <main>
    <ContentContainer>
      <div class="w-full p-4 md:px-0">
        <div class="flex items-center gap-4">
          <img src="/portrait.png" class="rounded-full w-16 h-16 m-0" />
          <div>
            <h3 class="m-0 text-lg">Hello</h3>
            <p class="m-0">I have no life.</p>
          </div>
        </div>
      </div>
    </ContentContainer>
  </main>
</Layout>

<style></style>
