---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
---

<Layout title="David Taing - Fullstack Developer">
  <main class="p-4">
    <div class="w-full md:px-0">
      <div class="flex items-center gap-4">
        <img src="/portrait.png" class="rounded-full w-16 h-16 m-0" />
        <div>
          <h3 class="m-0 text-lg">David Taing</h3>
          <p class="m-0">Contract Software Developer</p>
        </div>
      </div>
    </div>
  </main>
</Layout>
