---
import "../styles/global.css";

import AuthorDetails from "../components/AuthorDetails.astro";
import Layout from "../layouts/Layout.astro";
import BlogPreviewList from "../components/BlogPreviewList.astro";
---

<Layout title="David Taing - Fullstack Developer">
  <main>
    <div class="w-full md:px-0">
      <AuthorDetails title="David Taing" />
      <h2>Blog Posts</h2>
      <BlogPreviewList />
    </div>
  </main>
</Layout>
