---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
---

<Layout title="David Taing - Frontend Engineer">
  <main class="prose max-w-full"></main>
</Layout>

<style></style>
