---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import tsLogoRef from "/logos/ts-logo.svg";
import reactLogoRef from "/logos/react-logo.svg";
import nextJSLogoRef from "/logos/nextjs-logo.svg";
import ghActionsLogoRef from "/logos/actions-icon-actions.svg";
---

<Layout title="David Taing - Fullstack Developer">
  <main class="p-4">
    <div class="w-full md:px-0">
      <div class="flex items-center gap-4">
        <img src="/portrait.png" class="rounded-full w-16 h-16 m-0" />
        <div>
          <h3 class="m-0 text-lg">David Taing</h3>
          <p class="m-0">Contract Software Developer</p>
        </div>
      </div>
    </div>

    <section>
      <h2>About Me</h2>
      <p>
        I like drinking coffees. And beers. Listening to a wide array of music.
      </p>
      <p>Sometimes, you'll find me playing terrible DJ sets.</p>
      <p>Oh, you're probably here for something else.</p>
      <h4>Ex-Property Manager turned Software Developer</h4>
      <div class="flex gap-6 justify-center md:gap-4 md:justify-start">
        <a
          href="https://www.typescriptlang.org/"
          target="_blank"
          rel="noopener"
        >
          <img
            src={tsLogoRef}
            alt="TypeScript Logo"
            height="64px"
            width="64px"
          />
        </a>
        <a href="https://reactjs.org/" target="_blank" rel="noopener">
          <img src={reactLogoRef} alt="React Logo" height="64px" width="64px" />
        </a>
        <a href="https://nextjs.org/" target="_blank" rel="noopener">
          <img
            src={nextJSLogoRef}
            alt="Next.js Logo"
            height="64px"
            width="64px"
          />
        </a>
        <a
          href="https://github.com/features/actions"
          target="_blank"
          rel="noopener"
        >
          <img
            src={ghActionsLogoRef}
            alt="GitHub Actions Logo"
            height="64px"
            width="64px"
          />
        </a>
      </div>
    </section>

    <section>
      <h2 id="highlights">Highlights</h2>
      <ul>
        <li>
          <p>
            <strong>Currently working part-time as a Contract Developer.</strong
            ><br />

            I'm building a new ecommerce storefront for the business I contract
            for. The storefront is mostly done and we're currently building a
            connector application to synchronize data between their ERP and the
            Ecommerce platform.
          </p>

          <p>
            Some of my wins include building features for product, inventory,
            and customer synchronization along with building several pages on
            the storefront.
          </p>

          <span><em>Under NDA.</em></span>
        </li>
        <li>
          <p>
            <strong>Mentor at Code.Sydney</strong><br />
            Working on a few projects at the moment.The main one is the Migram project,
            an AirTasker-like marketplace that helps migrants and refugees find meaningful
            opportunities of work in Australia.
          </p>
          I've sunk roughly 280 hours into the project mostly on it solo. But thankfully,
          I've been able to grow the team to five developers ranging from beginners
          to Junior Developers.
        </li>
        <li>
          <p>
            <strong>
              Found a Senior React Take-Home Assessment and took a stab at it.</strong
            ><br />
            I got humbled after it was reviewed by the company. Made lot's of mistakes,
            but generally good.<br /> I've got years to grow into this role. So,
            I'm extremely thankful that I got feedback so early in my career.
          </p>
          <span
            ><a href="https://github.com/davidtaing/xam"
              >https://github.com/davidtaing/xam</a
            >
          </span>
        </li>
        <li>
          <p>
            <strong> Published an Immutable Map as an NPM package.</strong><br
            /> I built this because I wanted to use a HashMap in my React State.
            Vanilla JS Maps weren't really an option since React is allergic to mutable
            data structures.
          </p>
          <span
            ><a href="https://www.npmjs.com/package/map-immute"
              >https://www.npmjs.com/package/map-immute</a
            >
          </span>
        </li>

        <li>
          <p>
            <strong>
              Published a GitHub Action on the Github Marketplace.</strong
            ><br />
            It's a simple one that thanks a contributor for landing a pull request.
          </p>
          <span
            ><a href="https://github.com/marketplace/actions/thank-contribution"
              >https://github.com/marketplace/actions/thank-contribution</a
            >
          </span>
        </li>
      </ul>
    </section>
  </main>
</Layout>
