---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import tsLogoRef from "/logos/ts-logo.svg";
import reactLogoRef from "/logos/react-logo.svg";
import nextJSLogoRef from "/logos/nextjs-logo.svg";
import ghActionsLogoRef from "/logos/actions-icon-actions.svg";
---

<Layout title="David Taing - Fullstack Developer">
  <main class="p-4">
    <div class="w-full md:px-0">
      <div class="flex items-center gap-4">
        <img src="/portrait.png" class="rounded-full w-16 h-16 m-0" />
        <div>
          <h3 class="m-0 text-lg">David Taing</h3>
          <p class="m-0">Contract Software Developer</p>
        </div>
      </div>
    </div>

    <section>
      <h2>About Me</h2>
      <p>
        I like drinking coffees. And beers. Listening to a wide array of music.
      </p>
      <p>Sometimes, you'll find me playing terrible DJ sets.</p>
      <p>Oh, you're probably here for something else.</p>
      <h4>Ex-Property Manager turned Software Developer</h4>
      <div class="flex gap-6 justify-center md:gap-4 md:justify-start">
        <a
          href="https://www.typescriptlang.org/"
          target="_blank"
          rel="noopener"
        >
          <img
            src={tsLogoRef}
            alt="TypeScript Logo"
            height="64px"
            width="64px"
          />
        </a>
        <a href="https://reactjs.org/" target="_blank" rel="noopener">
          <img src={reactLogoRef} alt="React Logo" height="64px" width="64px" />
        </a>
        <a href="https://nextjs.org/" target="_blank" rel="noopener">
          <img
            src={nextJSLogoRef}
            alt="Next.js Logo"
            height="64px"
            width="64px"
          />
        </a>
        <a
          href="https://github.com/features/actions"
          target="_blank"
          rel="noopener"
        >
          <img
            src={ghActionsLogoRef}
            alt="GitHub Actions Logo"
            height="64px"
            width="64px"
          />
        </a>
      </div>
    </section>
  </main>
</Layout>
