<div
  style="background-image: url('/experiments/noita-digital-zcx5ztIjQAM-unsplash.jpg');"
>
  <div
    class="bg-gray-900 relative flex flex-col items-center h-screen justify-between bg-opacity-80 p-40 gap-8"
  >
    <h1
      class="absolute origin-bottom-left text-9xl text-white font-semibold rotate-90 top-0 left-0 ml-20 text-center"
    >
      TEEANG
    </h1>
    <div class="flex flex-col w-full m-w-full h-full">
      <div
        class="overflow-hidden aspect-square w-80 flex items-center justify-center gap-8"
      >
        <img src="/experiments/luca-nicoletti-O8CHmj0zgAg-unsplash.jpg" />
      </div>
      <h2 class="text-right mt-auto ml-auto text-5xl text-white font-semibold">
        TECHNO
      </h2>
    </div>
    <div class="self-center mx-auto w-full max-w-[600px]">
      <iframe
        src="https://open.spotify.com/embed/playlist/3m3rLC4va12a89NQ7U7hKY?utm_source=generator&theme=0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        style="width: 100%; max-width: 600px;;"></iframe>
      <a href="/"
        ><p class="z-50 text-center text-white text-semibold">
          TAKE ME BACK HOME
        </p></a
      >
    </div>
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
  font-family: "Teko", sans-serif;
</style>
