<ul class="hidden nav-links fixed left-0 top-0 w-full h-screen bg-white my-[60px] py-8 flex-col gap-2 items-center list-none md:w-auto md:bg-transparent md:flex md:relative md:m-0 md:p-0 md:h-auto md:flex-row md:gap-6 md:justify-between">
  <li>
    <a 
      class="nav-link px-4 py-2.5 leading-none no-underline"
      href="/#"
    >
      home
    </a>
  </li>
  <li>
    <a 
      class="nav-link px-4 py-2.5 leading-none no-underline" 
      href="#about"
    >
      about
    </a>
  </li>
  <li>
    <a 
      class="nav-link px-4 py-2.5 leading-none no-underline"
      href="#work"
    >
      work
    </a>
  </li>
  <li>      
    <a 
      class="nav-link px-4 py-2.5 leading-none no-underline	"
      href="#contact-and-socials"
    >
      contact
    </a>
  </li>

  <li>      
    <a 
      class="nav-link px-4 py-2.5 leading-none no-underline	"
      href="https://blog.teeang.net/"
      target="_blank"
      rel="noopener noreferrer"
    >
      blog
    </a>
  </li>
  <li>      
    <a 
      class="nav-link leading-none no-underline	"
      href="https://www.dropbox.com/s/p1o8hb82ago7h5w/David%20Taing%20CV%20Nov%2022.pdf?dl=0"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button class="bg-indigo-600 text-white rounded-lg px-4 py-2.5">resume</button>
    </a>
  </li>
</ul>