<ul
  class="hidden nav-links fixed left-0 top-0 w-full h-screen bg-blue-50 dark:bg-zinc-900 my-[60px] py-8 flex-col gap-2 items-center list-none md:w-auto md:bg-transparent md:flex md:relative md:m-0 md:p-0 md:h-auto md:flex-row md:gap-6 md:justify-between"
>
  <!-- <li>
    <a
      class="hover:font-bold text-lg nav-link px-4 py-2.5 leading-none no-underline md:text-base"
      href="#"
    >
      home
    </a>
  </li> -->
</ul>
