---
import {Content as ContactsAndSocials} from "../content/contacts-and-socials.md"
---
<section class="px-4 pb-20">
  <h1 id="about" class="pt-24">Contacts & Socials</h1>
  <ContactsAndSocials />
</section>