---
import ContentContainer from "../layouts/ContentContainer.astro";
---

<section class="hero-content p-4 md:max-h-[600px] h-screen flex flex-col justify-center">
  <ContentContainer>
    <h3 class="text-slate-600 md:text-3xl">👋 Hey there, I'm Dave!</h3>
    <h2 class="mt-2 md:text-5xl md:mt-8">TypeScripter</h2>
    <h2 class="md:text-5xl">React Enthusiast</h2>
    <h2 class="md:text-5xl">TDD Addict</h2>
    <h1 class="md:text-6xl md:mt-2">FrontendEngineer&lt;T&gt;</h1>
    <p class="mt-2 text-slate-600 md:text-lg md:mt-6">Seriously, I can't stop testing</p>
  </ContentContainer>
</section>