---
import ContentContainer from "../layouts/ContentContainer.astro";
import {Content as CodeSydneyProjects} from "../content/work/code-sydney.md"
import {Content as OpenSourceContributions} from "../content/work/open-source.md"
import {Content as WorkExperience} from "../content/work/work-experience.md"
import TextContainer from "../layouts/TextContainer.astro";
---

<section class="px-4 pb-20">
  <ContentContainer>
    <TextContainer>
      <h1 id="work" class="pt-24">Work</h1>
      <OpenSourceContributions />
      <CodeSydneyProjects />
      <WorkExperience />
    </TextContainer>
  </ContentContainer>
</section>