header {
  border-bottom: 2px solid var(--gray-primary);
  height: 60px;
}

.nav-menu__logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto 0;
}

.nav-menu__list {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0;
  margin-left: auto;
}

.nav-menu__item {
  color: var(--gray-primary);
  list-style: none;
  display: inline;
}

.hero__headline {
  color: var(--gray-dark);
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -1.5%;
  margin: 3.375rem 0 0 0;
}

.hero__subheadline {
  color: var(--gray-primary);
}

.text--underline-yellow {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

.text--underline-green {
  text-decoration: underline;
  text-decoration-color: var(--green);
}

.scribble {
  background-image: url("/Scribble.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
