header {
  border-bottom: 2px solid var(--gray-primary);
  height: 60px;
}

.nav-menu__list {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 0;
  margin-left: auto;
}

.nav-menu__item {
  color: var(--gray-primary);
  list-style: none;
  display: inline;
}
